  <div class="span3">
      <h4>Special Offers</h4>
      <p>
        Explore the world! TripAdvisor has reviews and information on over 400,000 locations, including:
          Travel Destinations
          Geneva travel
          Pas de la Casa hotels
          Hotels
          Hotel Regal
          Britannia Country Hotel
          Hotel IN in Trebinje
          Minshuku Kiyomiso in Iriomote-jima
          Gessler Hotel Francuski in Krakow
          VIP Diplomatico Hotel in Lisbon
      </p>
  </div>