<div class="span9">
	<h1>About Europe Travel Agency </h1>
	<p>
	Europe travels have an office encompassing 250 M2 are in the heart of the administrative-commercial center of the beautiful city of Kabul. This company has been established by a group of experienced business administrators and skilled personnel, and equipped with adequate technology and professional administrative systems.

	In the light of this fact that Afghanistan is a country with brilliant history, culture and civilization, and enjoys especially important tourist places and historically and archeologically traces, the possibility of development and expansion of the Tourism industry if note-worthy. Therefore Europe Travel will expand and develop its services keeping pace with such advancement in the country and in our region.
	</p>
	
	<%=image_tag("eutrips.png", alt: "Example Image")%>
</div>
