<div class="span9">
	<h1>Trips & our services</h1>
	<p>

	Europe travel has signed a contract with one of the credible international Travel and Tourism Agency, a company with more than half century of experience in this field. This and other contracts with international travel agencies has helped us to provide required service like, Issuing of international tickets all around the world by Asian, European and American Airlines.

	Europe Tourist & Travels offers a complete range of Air Travel Services to meet the needs of today's forward thinking global business. We are offering a wide selection of Air fares domestic or international tickets as well as better and immediate flight connection, cargo services and all types of travel related services. We search compare and book tickets on any Airlines including low cost carriers and full services Airlines. Europe Tourist & Travels has gained its fame and reputation domestically as well as on the international areas due to its highest ranking in excellent service. There are other multiple reasons that our Travel & cargo business has a clear cut edge of the other travel and cargo concerns. We offer the most economical and competitive fares to your destination in any part of the world.<br>

	All airlines reservation
	</p>
	<ul>
		<li>Holding ticket reconfirmation & date change</li>
		<li>Hotel reservation round over the world</li>
		<li>Cargo Services</li>
		<li>Recruitment</li>
		<li>Car Renting</li>
	</ul>
</div>